@define-color text #ffffff;

@define-color ws-bg #957dad;

@define-color clock-bg #7c56b3;
@define-color user-bg #bf0060;

@define-color pa-bg #458588;
@define-color tray-bg #d9017a;

@define-color ok #689d61;
@define-color warning #d65d0e;
@define-color critical #ff6d6a;


* {
    border: none;
    border-radius: 0;
    font-family: UbuntuMono;
    font-size: x-large;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @text;
}

tooltip {
    background-color: rgba(40, 40, 40, 1);
    border: 5px solid rgba(100, 114, 125, 0.5);
}


#workspaces, #mpris,
#clock, #user,
#network, #pulseaudio, #battery, #sysmon, #custom, #cpu, #disk, #memory, #tray{
    border-radius: 10px;
    padding: 0.4rem 0.6rem;
    margin: 1px;
}



#workspaces {
    background-color: @ws-bg;
}
/*#workspaces button{
}*/
#workspaces button.active{
    background-color: @ok;
}
#workspaces button.urgent{
    background-color: @critical;
}


/*#mpris{

}*/
#mpris.playing{
    background-color: @ok;
}
#mpris.paused{
    background-color: @warning;
}
#mpris.stopped{
    background-color: @critical;
}


#clock{
    background-color: @clock-bg;
}

#user{
    background-color: @user-bg;
}


#network{
    background-color: @ok;
}
#network.disabled{
    background-color: @warning;
}
#network.disconnected{
    background-color: @critical;
}
/*#network.ethernet, #network.wifi{
    
}*/


#pulseaudio{
    background-color: @pa-bg;
}
/*#pulseaudio.bluetooth{

}*/
#pulseaudio.source-muted{
    color: @warning;
}
#pulseaudio.muted{
    color: @critical;
}


/*#battery{

}*/
#battery.critical{
    background-color: @critical;
}
#battery.warning{
    background-color: @warning;
}
#battery.ok{
    background-color: @ok;
}

#sysmon {
    background-color: @ws-bg;
}
.sysmon-drawer{
    background-color: purple;
}

#tray{
    background-color: @tray-bg;
}